body {
  background-image: linear-gradient(120deg, #d5dfe9 0%, #acb9c7 100%);
  font-family: roboto, sans-serif !important;
}

.App {
  text-align: center;
  > .container {
    position: relative;
    background-color: #f5f9fa;
    border-radius: 20px;
    min-height: calc(100vh - 40px);
    margin: 20px auto;
    -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0;
  }
}

.App-logo {
  height: 150px;
  pointer-events: none;
}

/*############################ NAV #######################*/
.sidenav {
  transition-duration: 0.2s;
  transition-property: margin-left, margin-right, width;
  width: 70px;
  min-height: calc(100vh - 40px);
  height: 100%;
  position: absolute;
  text-align: left;
  overflow: hidden;
  z-index: 1085 !important;
  border-radius: 20px 0 0 20px;
  background-color: #272e48;
  .appBrand {
    background-color: #1a233a;
    height: 70px;
    padding: 10px;
    border-radius: 20px 0 0 0;
    img {
      width: 50px;
    }
  }

  .sidenav-inner {
    .sidenav-item {
      width: 200px;

      .sidenav-link {
        padding: 12px 10px 12px 70px;
        display: flex;
        color: #bfc7dc;
        text-decoration: none;
        span {
          margin-left: -50px;
          margin-right: 30px;
        }
        &:hover {
          background: #2e3b5a !important;
          color: #5a8dee !important;
        }
      }
      .user-avatar {
        margin-bottom: 30px;
        background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        display: inline-block;
        width: 100%;

        .avatar-content {
          span {
            width: 50px;
            height: 50px;
            padding: 1px;
            background: #fff;
            border-radius: 50%;
            background-size: cover;
            display: inline-block;
            margin: 5px 10px;
            border: 2px solid #5a8dee;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
          }
          p {
            margin: 5px;
            width: 60px;
            text-align: center;
          }
        }
        .red {
          font-size: 1rem;
          width: 36px;
          height: 36px;
          border-radius: 30px;
          color: #ffffff;
          display: inline-block;
          text-align: center;
          padding: 5px;
          margin: 5px 16px 10px;
          text-decoration: none;
          background-image: linear-gradient(120deg, #ff3434 0%, #a50000 100%);
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }
  &:hover {
    width: 200px;
    .user-avatar {
      text-align: center;
      .avatar-content span {
        width: 60px !important;
        height: 60px !important;
      }
      p {
        width: 100% !important;
      }
    }
  }
}
.layout-container {
  margin-left: 70px;
  padding: 30px;
}
section {
  margin-bottom: 50px;
}
/*############################ SEARCH #######################*/
header {
  .app-search {
    text-align: center;
    input {
      width: 100%;
      font-size: 16px;
      padding: 10px 15px;
      border: none;
      height: 70px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      outline: none;
      border-radius: 0 20px 0 0;
    }
  }
  width: calc(100% - 70px);
  margin-left: 70px;
}

/*############################ REVIEW #######################*/
.reviews .title {
  margin: 30px 0 15px;
}
.app-ativo-review {
  padding: 0 10px;
  &:nth-last-of-type(1) .content {
    .p-header {
      color: #e66b6b;
    }
    .p-content,
    .p-footer button {
      background-color: #e66b6b;
    }
  }
  &:nth-last-of-type(2) .content {
    .p-header {
      color: #ffca5b;
    }
    .p-content,
    .p-footer button {
      background-color: #ffca5b;
    }
  }
  &:nth-last-of-type(3) .content {
    .p-header {
      color: #4de5d5;
    }
    .p-content,
    .p-footer button {
      background-color: #4de5d5;
    }
  }

  &:nth-last-of-type(4) .content {
    .p-header {
      color: #6ab8f7;
    }
    .p-content,
    .p-footer button {
      background-color: #6ab8f7;
    }
  }
  .content {
    background-color: #fff;
    margin: 0;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    text-align: left;

    .p-header {
      position: relative;
      padding: 10px 10px 10px 40px;
      font-weight: 600;
      font-size: 18px;
      .material-icons {
        position: absolute;
        left: 10px;
      }
    }
    .p-footer {
      > div {
        padding: 10px;
        font-size: 15px;
        font-weight: bold;
        small,  
        small span {
          font-weight: 200;
          margin-left: 5px;
          font-size: 12px;
          &.pos {
            color: #1a985f;
          }
          &.neg {
            color: #f00;
          }
        }
      }
      button {
        width: 100%;
        border-radius: 0 0 5px 5px;
        font-size: 14px;
      }
    }
    .ico {
      text-align: center;
      padding: 0;

      .cod {
        font-weight: bold;
        color: #fff;
        padding: 30px 0px;
        height: 80px;
        border-radius: 5px 5px 0 0;
        background-color: #bebbf7;
      }
      button {
        border: none;
        background-color: #f7c990;
        font-size: 14px;
        color: #fff;
        text-transform: lowercase;
        font-size: 12px;
        width: 100%;
        padding: 10px 0;
        border-radius: 0 0 5px 5px;
      }
    }
    .info {
      text-align: left;
      h5 {
        height: 50px;
        font-size: 18px;
        + span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      h6 {
      }
    }
  }
}

/*############################ BETS #######################*/
.bets .title {
  margin: 30px 0 15px;
}
.app-ativo-bet {
  .content {
    background-color: #fff;
    padding: 10px;
    margin: 0;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    .avatar {
      .img {
        background-color: #bebbf7;
        border-radius: 5px 5px 0 0;
        padding: 5px;
        img {
          border-radius: 5;
          width: 100%;
        }
      }
      button {
        border: none;
        background-color: #f7c990;
        font-size: 14px;
        color: #fff;
        text-transform: lowercase;
        font-size: 12px;
        width: 100%;
        padding: 10px 0;
        border-radius: 0 0 5px 5px;
      }
    }
    .info {
      text-align: left;
      h4 {
        font-size: 22px;
      }
      h4,
      h5,
      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      h5 {
        font-size: 20px;
        margin-top: 10px;
        small,
        small span {
          margin-left: 5px;
          font-size: 14px;
          &.pos {
            color: #1a985f;
          }
          &.neg {
            color: #f00;
          }
        }
      }
    }
  }
}
