@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700);
body {
  background-image: linear-gradient(120deg, #d5dfe9 0%, #acb9c7 100%);
  font-family: Montserrat, sans-serif !important;
}

.App {
  text-align: center;
  > .container {
    position: relative;
    background-color: #f5f9fa;
    border-radius: 20px;
    min-height: calc(100vh - 40px);
    margin: 20px auto;
    -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

.App-logo {
  height: 150px;
  pointer-events: none;
}

/*############################ NAV #######################*/
.sidenav {
  transition-duration: 0.2s;
  transition-property: margin-left, margin-right, width;
  width: 100px;
  min-height: calc(100vh - 40px);
  height: 100%;
  position: absolute;
  text-align: left;
  overflow: hidden;
  z-index: 1085 !important;
  border-radius: 20px 0 0 20px;
  background-color: #272e48;
  .appBrand {
    background-color: #1a233a;
    height: 70px;
    padding: 10px;
    border-radius: 20px 0 0 0;
    img {
      width: 50px;
    }
  }

  .sidenav-inner {
    .sidenav-item {
      width: 250px;
      margin-top: 15px;

      .sidenav-link {
        padding: 12px 10px 12px 100px;
        display: flex;
        color: #bfc7dc;
        text-decoration: none;
        span {
          margin-left: -60px;
          margin-right: 40px;
        }
        &:hover {
          background: #2e3b5a !important;
          color: #5a8dee !important;
        }
      }
      .user-avatar {
        margin-bottom: 30px;
        padding-bottom:15px;
        background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        display: inline-block;
        width: 100%;

        .avatar-content {
          span {
            width: 60px;
            height: 60px;
            padding: 1px;
            background: #fff;
            border-radius: 50%;
            background-size: cover;
            display: inline-block;
            margin: 5px 20px;
            border: 2px solid #5a8dee;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
          }
          p {
            padding: 5px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 0;
            width: 100px;
            height: 60px;
            text-align: center;
            font-weight: bold;
          }
        }
        .red {
          font-size: 1rem;
          width: 35px;
          height: 35px;
          border-radius: 30px;
          color: #ffffff;
          display: inline-block;
          text-align: center;
          padding: 5px;
          margin: 5px 32px 10px;
          text-decoration: none;
          background-image: linear-gradient(120deg, #ff3434 0%, #a50000 100%);
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }
  &:hover {
    width: 250px;
    .user-avatar {
      text-align: center;
      .avatar-content span {
        width: 60px !important;
        height: 60px !important;
      }
      p {
        width: 100% !important;
      }
    }
  }
}
.layout-container {
  margin-left: 100px;
  padding: 30px;
}
section {
  margin-bottom: 50px;
}

/*############################ AUTH - LOGIN #######################*/
.input {
  border-radius: 5px;
  border: 1px solid #acb9c7;
  padding: 5px;
}
.auth,
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("assets/pattern.jpg");
  background-size: 10%;
  .overlay {
    background-image: linear-gradient(
      0deg,
      rgba(9, 14, 34, 0.9) 0%,
      rgba(9, 14, 34, 1) 100%
    );
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    > div {
      width: 400px;
      background-color: #fff;
      padding: 30px 50px;
      border-radius: 30px;
      img.logo {
        height: 50px;
      }
      h5 {
        margin: 20px auto;
        font-size: 25px;
        font-weight: bold;
      }
      button {
        margin-top: 10px;
      }
      p {
        margin: 30px auto;
        font-size: 12px;
      }
    }
  }
}

/*############################ SEARCH #######################*/
header {
  .app-search {
    text-align: center;
    input {
      width: 100%;
      font-size: 16px;
      padding: 10px 15px;
      border: none;
      height: 70px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      outline: none;
      border-radius: 0 20px 0 0;
    }
  }
  width: calc(100% - 70px);
  margin-left: 70px;
}
section > .title {
  margin: 30px 0 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
}
/*############################ REVIEW #######################*/
.app-ativo-bet,
.app-ativo-review {
  .loading {
    display: none;
  }
  &.loading {
    .content {
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      img {
        width: 30px;
      }
    }
    .loading {
      display: block;
    }
    .p-header,
    .p-body,
    .p-footer {
      display: none;
    }
  }
}
.app-ativo-review {
  padding: 0 10px;

  &:nth-last-of-type(1) .content {
    .p-header {
      color: #ef5350;
    }
    .p-body,
    .p-footer button {
      background-color: #ef5350;
    }
  }
  &:nth-last-of-type(2) .content {
    .p-header {
      color: #0acc95;
    }
    .p-body,
    .p-footer button {
      background-color: #0acc95;
    }
  }
  &:nth-last-of-type(3) .content {
    .p-header {
      color: #7460ee;
    }
    .p-body,
    .p-footer button {
      background-color: #7460ee;
    }
  }

  &:nth-last-of-type(4) .content {
    .p-header {
      color: #186dde;
    }
    .p-body,
    .p-footer button {
      background-color: #186dde;
    }
  }
  .content {
    background-color: #fff;
    margin: 0;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    text-align: left;
    min-height: 215px;
    display: inline-block;
    width: 100%;
    .p-header {
      position: relative;
      padding: 0px 10px 0px 40px;
      margin: 10px 0;
      border-left: 2px solid;
      font-weight: 600;
      font-size: 18px;
      .material-icons {
        position: absolute;
        left: 10px;
      }
    }
    .p-footer {
      > div {
        padding: 10px;
        font-size: 15px;
        font-weight: bold;
        small,
        small span {
          font-weight: 200;
          margin-left: 5px;
          font-size: 12px;
          &.pos {
            color: #1a985f;
          }
          &.neg {
            color: #f00;
          }
        }
      }
      button {
        width: 100%;
        border-radius: 0 0 5px 5px;
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }
    .ico {
      text-align: center;
      padding: 0;

      .cod {
        font-weight: bold;
        color: #fff;
        padding: 30px 0px;
        height: 80px;
        border-radius: 5px 5px 0 0;
        background-color: #bebbf7;
      }
      button {
        border: none;
        background-color: #f7c990;
        font-size: 14px;
        color: #fff;
        text-transform: lowercase;
        font-size: 12px;
        width: 100%;
        padding: 10px 0;
        border-radius: 0 0 5px 5px;
      }
    }
    .info {
      text-align: left;
      h5 {
        height: 50px;
        font-size: 18px;
        + span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      h6 {
      }
    }
  }
}

/*############################ BETS #######################*/

.app-ativo-bet {
  .content {
    background-color: #fff;
    padding: 20px;
    margin: 0;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    text-align: left;
    min-height: 400px;
    .p-header {
      small {
        margin-left: 10px;
        font-size: 12px;
        span {
          margin-left: 5px;
          font-size: 14px;
        }
        &.pos {
          color: #1a985f;
        }
        &.neg {
          color: #f00;
        }
      }
    }
    .p-body {
      height: 250px;
    }
    .p-footer {
      .avatar {
        width: 70px;
        height: 70px;
        background-size: cover;
        background-position: 50%;
        border: 2px solid #7460ee;
        border-radius: 50%;
        background-position: 50%;
      }
      p {
        margin: 0;
        font-weight: bold;
      }
      span {
        font-size: 12px;
      }
    }
  }
}
