
$body-bg: #d5dfe9;
$body-color:#5e666e;
$primary: #186dde;
$secondary: #545b62;
$success: #0acc95;
$info: #7460ee;
$warning: #ffb22b;
$danger: #ef5350;
$light: #e9edf2;
$dark: #263238;
$link-decoration:none;
$input-bg: #FFFFFF;
$input-placeholder-color:#adbac7;


@import "~bootstrap/scss/bootstrap";
@import url(App.scss);
